<div class="row">
    <div class="col-md-4 mb-5"*ngFor="let movie of movies">

        <img [src]="movie.poster_path | poster"
             class="img-fluid poster"
             (click)="onMovieClick( movie )">
        
        <div>
            <h3>{{ movie.title }}</h3>

            <div class="row">
                <div class="col-10 text-white">
                    <star-rating [value]="movie.vote_average" 
                                 [totalstars]='10'
                                 checkedcolor="yellow" 
                                 uncheckedcolor="black" 
                                 size="24px"
                                 [readonly]="true">
                    </star-rating>
                </div>
                <div class="col-2 text-white">
                    {{ movie.vote_average | number: '1.1-2'}}
                </div>
            </div>
        </div>
    </div>
</div>
