<div class="row white">
    <div class="col s12">
        <div class="row">
            <h4 class="center-align">Cartelera semanal</h4>
        </div>
        <div class="row">
            <!----------------- CARD UNO ----------------->
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="../../../assets/posters/BatmanVSSuperman.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>

            <!----------------- CARD DOS ----------------->
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="../../../assets/posters/cowboys_aliens.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>

            <!----------------- CARD TRES ----------------->
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="../../../assets/posters/gernika.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>

            <!----------------- CARD CUATRO ----------------->
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="../../../assets/posters/guardians-galaxy.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>

            <!----------------- CARD CINCO ----------------->
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="../../../assets/posters/mostruos_vs_alienigenas.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>

            <!----------------- CARD SEIS ----------------->
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="../../../assets/posters/pacific-rim.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Nombre pelicula
                        <i class="material-icons">close</i>
                    </span>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>