<nav class="black social">
    <div class="nav-wrapper">
        <ul class="left">
            <li><a class="white-text" href=""><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a class="white-text" href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li><a class="white-text" href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a class="white-text" href=""><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
        <!-- Show in Desktop -->
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn-small grey darken-2 white-text">Registro</a></li>
            <li><a class="waves-effect waves-light btn-small red darken-4 white-text">Iniciar</a></li>
        </ul>
        <!-- Show in Mobile -->
        <ul class="right hide-on-large-only">
            <li>
                <a class="waves-effect waves-light btn-small grey darken-2 btn-floating white-text">
                    <i class="material-icons">person_add</i>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light btn-small red darken-4 btn-floating white-text">
                    <i class="material-icons">transfer_within_a_station</i>
                </a>
            </li>
        </ul>
    </div>
  </nav>